warcio
requests
beautifulsoup4
spacy==2.3.4
heapq==3.9.1
sklearn
nltk==3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
